/* фирменный #332208
 белый #FEFEFE
 темный #1b1818
 акцентный    #C5AC2D  */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1b1818;
  background-color: #fefefe;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header {
  background-color: #332208;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header_inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 60px;
  height: 60px;
}
.menu_nav {
}
.menu_btn {
  display: none;
}
.menu_list {
  display: flex;
}
.menu_list-item {
  margin: 0 15px;
}
.menu_list-link {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
  padding-bottom: 5px;
  border-bottom: transparent;
  transition: all 0.5s;
}
.menu_list-link:hover {
  border-bottom: 1px solid #fefefe;
}
.phone {
  font-size: 18px;
  line-height: 21px;
  color: #fefefe;
}
.top {
  background-color: #fefefe;
  padding-bottom: 100px;
}
.top_heading {
  display: flex;
  padding: 50px 0 30px;
}
.top_content {
  text-align: center;
  padding-top: 90px;
  width: 50%;
}
.top_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 0 auto 20px;
  min-width: 320px;
}
.top_text {
  font-size: 24px;
  line-height: 28px;
  min-width: 320px;
  margin: 0 auto 60px;
}
.application-btn {
  display: inline-block;
  padding: 15px 18px;
  background-color: #c5ac2d;
  color: #fefefe;
  text-transform: uppercase;
  transition: all 0.5s;
  border: 1px solid transparent;
}
.application-btn:hover {
  color: #c5ac2d;
  background-color: #fefefe;
  border: 1px solid #c5ac2d;
}
.top_slider {
  width: 50%;
}
.top_slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slick-dots {
  text-align: center;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  padding: 0;
  font-size: 0;
  background-color: #332208;
}
.slick-active button {
  width: 16px;
  height: 16px;
}
.top_slider-item {
}
.top_slider-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}
.top_slider-text span + span {
  padding-left: 12px;
}
.top_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.top_items {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.top_item {
  width: 150px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #332208;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.top_item:hover {
  transform: scale(1.25);
  transition: all 0.5s;
}
.top_item-img {
}
.top_item-text {
}
.top_links {
  padding-right: 80px;
}
.top_link {
  color: #1b1818;
  border-bottom: 1px solid #1b1818;
}
.top_link + .top_link {
  margin-left: 20px;
}
.rent {
  background-color: #fefefe;
  padding: 100px 0;
}
.rent_inner {
  display: flex;
  justify-content: space-between;
}
.rent_content {
  width: 250px;
}
.rent_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}
.rent_text {
  margin-bottom: 20px;
}
.rent_text + .rent_text {
  margin-bottom: 40px;
}
.application-btn {
}
.rent_item {
  border: 1px solid #332208;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 250px;
  padding: 0 35px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 350px;
}
.rent_item-num {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 115px;
  opacity: 0.05;
}
.rent_item-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.rent_item-text {
}
.benefits {
  padding: 100px 0;
}
.benefits_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;
}
.benefits_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits_list {
  width: 300px;
}
.benefits_list-item {
  margin-bottom: 27px;
  padding-right: 26px;
  position: relative;
  text-align: right;
}
.benefits_list-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #332208;
  border-radius: 50%;
  right: 0;
  top: 3px;
}
.benefits_images {
}
.benefits_content {
  width: 300px;
  text-align: right;
}
.benefits_list-item:nth-child(1),
.benefits_list-item:nth-child(7) {
  margin-right: 10px;
}
.benefits_list-item:nth-child(2),
.benefits_list-item:nth-child(6) {
  margin-right: 60px;
}
.benefits_list-item:nth-child(3),
.benefits_list-item:nth-child(5) {
  margin-right: 110px;
}
.benefits_list-item:nth-child(4) {
  margin-right: 150px;
}
.benefits_text {
  margin-bottom: 30px;
  text-align: right;
}
.benefits_text + .benefits_text {
  width: 267px;
  margin-left: auto;
}
.video-popup {
  background-color: #c5ac2d;
  text-transform: uppercase;
  color: #fefefe;
  width: 200px;
  height: 50px;
  padding: 6px 34px 6px 64px;
  text-align: center;
  display: inline-block;
  position: relative;
}
.video-popup::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../images/play-btn.svg);
  top: 12px;
  left: 34px;
}
.reviews {
  padding: 100px 0;
  background-color: #332208;
  color: #fefefe;
}
.reviews_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 70px;
}
.reviews_slider {
}
.slick-initialized .reviews__item {
  display: flex;
}
.reviews_item {
  width: 270px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 30px;
  text-align: center;
  border: 1px solid #c5ac2d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
}
.reviews_item-name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.reviews_item-text {
}
.reviews_slider .slick-dots button {
  background-color: #c5ac2d;
  margin: 0 5px;
  line-height: 12px;
}
.reviews_slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.feedback {
  padding: 100px 0;
}
.feedback_inner {
  display: flex;
  align-items: center;
}
.feedback_images {
  width: 50%;
}
.feedback_form {
  width: 415px;
  margin: 0 auto;
}
.feedback_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5px;
}
.feedback_text {
  margin-bottom: 30px;
}
.feedback_input {
  display: block;
  padding: 20px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.feedback_input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #1b1818;
}
.feedback_btn {
  margin-top: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: #fefefe;
  display: inline-block;
  padding: 15px 36px;
  background-color: #c5ac2d;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}
.feedback_btn:hover {
  color: #c5ac2d;
  background-color: #fefefe;
  border: 1px solid #c5ac2d;
}
.footer {
  padding: 100px 0 24px;
  background-color: #332208;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_social-item {
  margin: 0 15px;
}

@media (max-width: 1250px) {
  .benefits_images {
    width: 40%;
  }
}

@media (max-width: 1140px) {
  .rent_inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rent_content {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .top_heading {
    display: block;
  }
  .top_content {
    width: 100%;
    padding-top: 30px;
  }
  .top_slider {
    width: 100%;
  }
  .top_bottom {
    display: block;
  }
  .top_links {
    padding-right: 0;
    padding-top: 50px;
    text-align: center;
  }
  .top_items {
    width: 100%;
  }
  .benefits_content {
    width: 100%;
    margin-top: 30px;
  }
  .benefits_items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .benefits_text + .benefits_text {
    width: 100%;
  }
  .footer .menu_list {
    display: none;
  }
}

@media (max-width: 860px) {
  .footer .menu_nav {
    display: none;
  }
  .menu_nav {
    order: 1;
  }
  .menu_list {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #332208;
    text-align: center;
    padding: 20px 0;
    transform: translateY(-500px);
    transition: all 0.5s;
  }
  .menu_list.menu_list--active {
    transform: translateY(0px);
  }
  .menu_list-link {
    padding: 20px 0;
    display: block;
  }
  .menu_btn {
    display: block;
    width: 35px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    position: relative;
  }
  .menu_btn::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fefefe;
    left: 0;
    top: 9px;
  }
  .rent_item {
    margin: 30px;
  }
  .feedback_images {
    display: none;
  }
  .footer,
  .feedback,
  .reviews,
  .benefits,
  .rent {
    padding: 50px 0;
  }
}

@media (max-width: 650px) {
  .rent_item {
    width: 100%;
    min-height: 245px;
  }
  .rent_item-title {
    margin-bottom: 20px;
  }
  .rent_content {
    text-align: center;
  }
}

@media (max-width: 525px) {
  .top_items {
    flex-wrap: wrap;
  }
  .top_item {
    margin: 20px;
  }
  .top_slider-text {
    padding-right: 0;
  }
  .benefits_images {
    width: 70%;
  }
  .benefits_list-item {
    margin-right: 0;
    text-align: left;
    padding-right: 0;
    padding-left: 26px;
  }
  .benefits_list-item::after {
    right: auto;
    left: 0;
  }
  .benefits_list {
    width: 100%;
  }
  .benefits_list-item:nth-child(4) {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .footer_top {
    flex-direction: column;
    align-items: center;
  }
  .footer .phone {
    margin-top: 30px;
    display: inline-block;
  }
}

@media (max-width: 410px) {
  .top_slider-text {
    text-align: right;
  }
  .top_slider-text span {
    display: block;
    margin: 10px 0;
  }
  .top_item {
    width: 100%;
  }
  .top_links {
    text-align: center;
  }
  .top_link {
    margin: 10px 15px;
    display: inline-block;
  }
  .top_link + .top_link {
    margin-left: 0;
  }
  .rent_item {
    margin: 30px 0;
  }
}
